.registry {
  height: 100vh;
}
.board {
  background-color: #69c;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  height: 95%;
}

.column {
  background-color: #999;
  /*padding: 2em;*/
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.over.card * {
  pointer-events: none;
}

.card {
  background-color: #ddd;
}
.ghostCard {
  background-color: #ddd;
  opacity: 0.5;
}
.card, .ghostCard {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.cardSpawner {
  padding-top: 1em;
  padding-bottom: 1em;
}

.closeButton.btn-link {
  color: rgb(51,51,51);
}

.closeButton:hover {
  text-decoration: none;
}
