body {
}

/* structure */
.container-fluid > .row > .col-md-2, .container-fluid > .row > .col-md-5 {
  min-height: 100vh;
}

/* colors and style */
.container-fluid > .row > .col-md-2, .container-fluid > .row > .col-md-5 {
  padding: 1em;
}

.container-fluid > .row > .col-md-2 {
  background-color: #004;
  color: #fff;
}

#editorHeading h1 {
  margin-top: 0;
}

.nav-tabs {
  margin-bottom: 1em;
}

.form {
  border-right: 1px solid rgb(238,238,238);
  border-bottom: 1px solid rgb(238,238,238);
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

label {
  display: block;
}

#iframe {
  height: 60vh;
  width: 100%;
}

#structure {
  height: 40vh;
}


/* These styles are cheating it and should be configurable in the edit page */
#viewerRoot .row:first-child{
  background-color: #000;
  color: #fff;
}

#viewerRoot .row:last-child, #contentRow .col-md-3:first-child {
  background-color: #69c;
  color: #fff;
}

#contentRow .col-md-3:first-child a, #contentRow .col-md-3:first-child a:visited {
  color: #fff;
}

#contentRow .col-md-3:first-child a:hover {
  background-color: #000;
}

#viewerRoot .row:last-child {
  text-align: right;
}
